/* ChooseSignUpType.module.css */
.choose-signup-container {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  .signup-options {
    margin-top: 20px;
  }
  
  .patient-signup-button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .pharmacist-signup-button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
  }