.medicine-list-container {
  text-align: center;
  padding: 20px;
}

.medicine-list-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.medicine-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.medicine-item {
  position: relative;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.medicine-image {
  max-width: 100%;
  max-height: 275px;
  height: auto;
}

.medicine-name {
  font-size: 18px;
  margin: 10px 0;
}

.medicine-price {
  font-weight: bold;
}

.medicine-description {
  margin: 10px 0;
}

.add-to-cart-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.view-cart-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  margin-left: 10px; /* Adjust the value to create space between buttons */

}

.login-message {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  position: fixed;
  justify-content: center;
}

.tooltip-container {
  position: relative;
}

.tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.view-prescription-medicines-button {
  margin-right: 10px; /* Adjust the value to create space between buttons */
}

